@model ANYI_Cafe.Models.ContactusViewModel

@{
    ViewBag.Title = "聯絡我們";
    Layout = "~/Views/Shared/_Layout_All.cshtml";
}

<section id="contact-page">
    <div class="container">
        <div class="center " style="margin-top:30rem">
            <div class="div-relative text-center">
                <div class="div-b">CONTACT US</div>
                <div class="div-c">ANYI CAFE</div>
            </div>

        </div>
        <div class="row contact-wrap">
            <div class="status alert alert-success" style="display: none"></div>
            <div class="col-md-6 col-md-offset-3">
                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>
                <form action="" method="post" role="form" class="contactForm">
                    <div class="form-group">
                        <h4>@Html.LabelFor(model => model.Name, "Your Name") :</h4>
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @id = "name", @placeholder = "Your Name" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        @*<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />*@
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <h4>@Html.LabelFor(model => model.Email) :</h4>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @id = "email", @placeholder = "Your Email", @type = "email" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        @*<input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />*@
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <h4>@Html.LabelFor(model => model.Subject) :</h4>
                        @Html.TextBoxFor(model => model.Subject, new { @class = "form-control", @id = "subject", @placeholder = "Subject" })
                        @*<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />*@
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <h4>@Html.LabelFor(model => model.Message) :</h4>
                        @Html.TextAreaFor(model => model.Message, new { @class = "form-control", @id = "message", @placeholder = "Please write something for us", @rows = "5", @style = "resize:vertical;" })
                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                        @*<textarea class="form-control " name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"> </textarea>*@
                        <div class="validation"></div>
                    </div>
                    <div class="text-center"><button type="submit" name="submit" class="btn btn-primary btn-lg btn3" required="required">Submit Message</button></div>
                </form>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->

</section>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14471.667252580726!2d121.18249195!3d24.93490365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34682361c065cbe9%3A0xc24080034849b3e3!2z5Yue5YuV6YOo5Yue5YuV5Yqb55m85bGV572y5qGD56u56IuX5YiG572y5bm8542F6IG35qWt6KiT57e05aC0!5e0!3m2!1szh-TW!2stw!4v1616570802916!5m2!1szh-TW!2stw"
        width="100%" height="235" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
<!--/#contact-page-->
