@model ANYI_Cafe.Models.LoginViewModel

@{
    ViewBag.Title = "登入";
    Layout = "~/Views/Shared/_Layout_All.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">

        <div class="row justify-content-md-center" style="margin-top:200px">
            <div class="col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">

                <h4 class="text-dark text-center" style="margin-bottom:30px">登入</h4>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @*@Html.LabelFor(model => model.UserNo, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    @Html.TextBoxFor(model => model.UserNo, "", new { @class = "form-control", @placeholder = "電子信箱" })
                    @Html.ValidationMessageFor(model => model.UserNo, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @*@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "密碼" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group" style="margin-bottom:300px; margin-top:50px">
                    <div class="text-center">
                        <input type="submit" value="登入" class="btn btn-primary" />
                        @Html.ActionLink("註冊", "Register", "User", null, new { @class = "btn btn-info" })
                    </div>
                </div>

            </div>
        </div>
    </div>
}

